@font-face {
    font-family: 'dmB';
    src: url('../font/DMSans-Bold.woff2') format('woff2'),
        url('../font/DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'dm';
    src: url('../font/DMSans-Regular.woff2') format('woff2'),
        url('../font/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}