.b{
    font-family: 'dmB';
}
.btn{
    color: $main-cl;
    background-color: unset;
    border: none;
    text-align: center;
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: -0.531474px;
    border-radius: 10px;
    cursor: pointer;
    &.main-cl{
        background-color: $main-cl;
        color: $white-cl;
    }
    &.second-cl{
        background-color: $second-cl;
        color: $white-cl;
    }
    &.card-cl{
        background-color: #9F3919;
        color: $white-cl;
    }
    &.size-m{
        padding: 19px 52px;
    }
    &.size-l{
        padding: 19px 60px;
    }
}
.content{
    &__title{
        font-family: 'dmB';
        font-size: 8rem;
        line-height: 96%;
        letter-spacing: -2.50105px;

        color: $text-cl;
    }
    &__desc{
        font-family: 'ml';
        font-size: 2rem;
        line-height: 150%;
        letter-spacing: -0.625263px;
        color: $text2-cl;
            
        padding-top: 30px;
        padding-bottom: 50px;
    }
    &.item__content &__title{
        font-size: 2.4rem;
        line-height: 150%;

        text-align: center;
        letter-spacing: -0.750316px;
    }
    &.item__content &__desc{
        font-size: 1.6rem;
        line-height: 150%;

        text-align: center;
        letter-spacing: -0.500211px;

        padding: 20px 0;
    }
}