@import './reset';
@import './variable.scss';
@import './mixins';
@import './component.scss';

// Default

@-ms-viewport {
    width: device-width;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'dm';
}
body{
    width: 100%;
    max-width: $container-max-width;
    margin: auto;
    .container-fluid{
        width: 100%;
        padding-right: var(--gap);
        padding-left: var(--gap);
        margin: 0 auto;
        @include xs {
            padding-right: calc(var(--gap) / 2);
            padding-left: calc(var(--gap) / 2);
        }
    }
    .container{
        width: 100%;
        padding-right: calc(var(--gap) / 2);
        padding-left: calc(var(--gap) / 2);
        margin: 0 auto;
    }
    @media (min-width: $xxs-min) {
        .container {
            max-width: 540px;
        }
    }
    @media (min-width: $xs-min) {
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: $sm-min) {
        .container {
            max-width: 960px;
        }
    }
    @media (min-width: $md-min) {
        .container {
            max-width: $container-width;
        }
    }
}
img{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-user-drag: none;
}

.header{
    padding-top: 30px;

    & .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav{
        ul{
            display: flex;
            align-items: center;
            gap: 50px;
        }
        li{
            a{
                text-decoration: none;
                color: $text2-cl;
                font-size: 1.5rem;
                line-height: 2rem;
                letter-spacing: -0.468947px;

                position: relative;
                transition: .3s;
                &::after{
                    content: '';
                    display: block;
                    background-color: $main-cl;
                    height: 2px;
                    width: 0;

                    position: absolute;
                    bottom: -10px;

                    transition: .3s;
                    @include visible(0)
                }
            }
            a:hover,a.active{
                color: $text-cl;
                transition: .3s;
                &::after{
                    transition: .3s;
                    width: 100%;
                    @include visible(1)
                }
            }
        }
    }
    &__hamburger{
        display: none;
    }
    @include md{
        &__nav{
            display: none;
        }
        &__btn{
            display: none;
        }
        &__hamburger{
            display: block;
        }
        &__hamburger {
            display: block;
            height: 23px;
            width: 35px;
            // position: absolute;
            // top: 17px;
            // left: 20px;
            z-index: 500;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
          }
        
          &__hamburger .line {
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: #333;
          }
        
          &__hamburger .line1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
          }
        
          &__hamburger .line2 {
            transition: transform 0.2s ease-in-out;
          }
        
          &__hamburger .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
          }
          &__hamburger.active .line1 {
            transform: rotate(35deg);
          }
        
          &__hamburger.active .line2 {
            transform: scaleY(0);
          }
        
          &__hamburger.active .line3 {
            transform: rotate(-35deg);
          }
    }
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: $white-cl;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
    z-index:499;
    ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        height: 100%;
    li{
        padding: 20px 0;
        width: 100%;
        text-align: center;
        a{
        width: 100%;
            text-decoration: none;
            color: $text2-cl;
            font-size: 1.5rem;
            line-height: 2rem;
            letter-spacing: -0.468947px;

            position: relative;
            transition: .3s;
            &::after{
                content: '';
                display: block;
                background-color: $main-cl;
                height: 2px;
                width: 0;

                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);

                transition: .3s;
                @include visible(0)
            }
        }
        a:hover,a.active{
            color: $text-cl;
            transition: .3s;
            &::after{
                transition: .3s;
                width: 100%;
                @include visible(1)
            }
        }
    }
    }
    &.active{
        pointer-events: auto;
        opacity: 1;
        transition: .3s;
    }
}
main{
    .hero{
        padding: var(--pd-section) 0;

        display: flex;
        align-items: center;
        gap: 77px;
        &__img{
            max-width: 580px;
            max-height: 644px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        @include xs{
            flex-direction: column-reverse;
            gap: 20px;
            &__img{
                height:200px
            }
        }
    }
    .sponsor{
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: var(--pd-section);

        @include md{
            flex-wrap: wrap;
            justify-content: center;
            gap: unset;
            justify-content: space-between;
        }
        @include xs{
            gap: 30px;
            justify-content: center;
        }
    }
    .intro{
        &__wrap{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            gap: 165.5px;
            &:first-child{
                flex-direction: row-reverse;
                margin-bottom: 80px;
            }
        }
        &__block{
            max-width: 556px;
            &-title{
                font-size: var(--hero-title-fz);
            }
        }
        &__img{
            max-height: 473px;
            max-width: 348px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        @include xs{
            &__wrap{
                flex-direction: column;
                gap: 20px;
                &:first-child{
                    flex-direction: column;
                }
            }
            &__img{
                width: 50%;
                height: 50%;
            }
        }
    }
    .item{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        //gap: 75px;

        padding: 150px 0;
        &__block{
            display: flex;
            flex-direction: column;
            align-items: center;

            max-width: 307px;
            &-img{
                width: 151px;
                height: 97px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        @include sm{
            justify-content: center;
        }
        @include xs{
            padding: 40px 0;
        }
    }
    .pricing{
        &__heading{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-title{
                font-size: var(--card-heading-fz);
                line-height: var(--card-heading-lh);

                letter-spacing: -1.87579px;
                max-width: 523px;
            }
            &-btn{
                padding: 16px 56px;
                background-color: #F7F7FB;
                &:first-child{
                    border-radius: 10px 0px 0px 10px;
                }
                &:last-child{
                    border-radius: 0px 10px 10px 0px;
                    margin-left: -2px;
                }
                    &.active,&.active:hover{
                    background-color: $main-cl;
                    color: $white-cl;
                }
                &:hover{
                    opacity:.8;
                    background-color:#ccc;
                }
            }
        }
        &__body{
            display: flex;
            align-items: center;
            justify-content:space-evenly;

            padding: 80px 0 158px;
        }
        &__card{
            background-color: #F8F8F8;
            border-radius: 10px;
            padding: 34px 24px 27px;

            display: flex;
            flex-direction: column;
            align-items: center;
            &-title{
                font-size: var(--card-title-fz);
                line-height: var(--card-title-lh);
                text-align: center;
                letter-spacing: -0.562737px;
                color: $text2-cl;

                padding-bottom: 22px;
            }
            &-price{
                font-family: 'dmB';
                h4{
                    font-size: var(--card-price-fz);
                    line-height: var(--card-price-lh);
                    text-align: center;
                    letter-spacing: -1.03448px;
                }
                span{
                    font-size: var(--card-price-span-fz);
                    line-height: var(--card-price-span-lh);
                    letter-spacing: -1.03448px;
                }
            }
            &-info{
                padding: 28px 0 36px;
                ul{
                    li{
                        font-family: 'ml';
                        text-align: center;
                        font-size: 17px;
                        line-height: 294%;
                        letter-spacing: -0.531474px;
                        color: $text2-cl;
                    }
                }
            }
            &-btn{
                background-color: $white-cl;
                width: 285px;
                padding: 19px;
                &:hover{
                    background-color:#ccc;
                    opacity:.8;
                }
            }
            &.active{
                background-color:$second-cl;
                padding: 50px 37px 43px;
                .pricing__card-title{
                    color: rgba(255, 255, 255, 0.7);;
                }
                .pricing__card-price,.pricing__card-info ul li{
                    color: $white-cl;
                }
                .pricing__card-btn{
                    background-color:#9F3919;
                    color: $white-cl;
                    &:hover{
                        opacity:.8;
                    }
                }
            }
        }
        @include md{
            &__heading{
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
        }
        @include sm{
            &__body{
                flex-direction: column;
                gap: 20px;
                padding: 60px 0 140px;
            }
        }
        @include xs{
            &__body{
                padding: 20px 0 100px;
            }
        }
    }
}