@import './reset';
@import './variable.scss';
@import './mixins';
@import './component.scss';

// Default

@-ms-viewport {
    width: device-width;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'dm';
}
body{
    width: 100%;
    max-width: $container-max-width;
    margin: auto;
    .container-fluid{
        width: 100%;
        padding-right: var(--gap);
        padding-left: var(--gap);
        margin: 0 auto;
        @include xs {
            padding-right: calc(var(--gap) / 2);
            padding-left: calc(var(--gap) / 2);
        }
    }
    .container{
        width: 100%;
        padding-right: calc(var(--gap) / 2);
        padding-left: calc(var(--gap) / 2);
        margin: 0 auto;
    }
    @media (min-width: $xxs-min) {
        .container {
            max-width: 540px;
        }
    }
    @media (min-width: $xs-min) {
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: $sm-min) {
        .container {
            max-width: 960px;
        }
    }
    @media (min-width: $md-min) {
        .container {
            max-width: $container-width;
        }
    }
}
img{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-user-drag: none;
}

.header{
    margin-top: 30px;

    & .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav{
        ul{
            display: flex;
            align-items: center;
            gap: 50px;
        }
        li{
            a{
                text-decoration: none;
                color: $text2-cl;
                font-size: 1.5rem;
                line-height: 2rem;
                letter-spacing: -0.468947px;

                position: relative;
                transition: .3s;
                &::after{
                    content: '';
                    display: block;
                    background-color: $main-cl;
                    height: 2px;
                    width: 0;

                    position: absolute;
                    bottom: -10px;

                    transition: .3s;
                    @include visible(0)
                }
            }
            a:hover,a.active{
                color: $text-cl;
                transition: .3s;
                &::after{
                    transition: .3s;
                    width: 100%;
                    @include visible(1)
                }
            }
        }
        @include sm{
            display: none;
        }
    }
}

main{
    .hero{
        padding: var(--pd-section) 0;

        display: flex;
        align-items: center;
        gap: 77px;
        &__img{
            max-width: 580px;
            max-height: 644px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .sponsor{
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: var(--pd-section);

        @include md{
            flex-wrap: wrap;
            justify-content: center;
            gap: unset;
            justify-content: space-between;
        }
    }
    .intro{
        &__wrap{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            gap: 165.5px;
            &:first-child{
                flex-direction: row-reverse;
                margin-bottom: 80px;
            }
        }
        &__block{
            max-width: 556px;
            &-title{
                font-size: 5rem;
            }
        }
        &__img{
            max-height: 473px;
            max-width: 348px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        
    }
    .item{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 75px;

        padding: 150px 0;
        &__block{
            display: flex;
            flex-direction: column;
            align-items: center;

            max-width: 307px;
            &-img{
                width: 151px;
                height: 97px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        @include sm{
            justify-content: center;
        }
    }
    .pricing{
        &__heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 82px;

            &-title{
                font-size: 6rem;
                line-height: 117%;

                letter-spacing: -1.87579px;
                max-width: 523px;
            }
            &-btn{
                padding: 16px 56px;
                background-color: #F7F7FB;
                &:first-child{
                    border-radius: 10px 0px 0px 10px;
                }
                &:last-child{
                    border-radius: 0px 10px 10px 0px;
                }
                &.active{
                    background-color: $main-cl;
                    color: $white-cl;
                }
            }
        }
        &__body{
            display: flex;
            align-items: center;
            gap: 15px;
        }
        &__card{
            background-color: #F8F8F8;
            border-radius: 10px;
            padding: 34px 24px 27px;

            display: flex;
            flex-direction: column;
            align-items: center;
            &-info{
                ul{
                    li{
                        text-align: center;
                    }
                }
            }
            &-btn{
                background-color: $white-cl;
                width: 285px;
                padding: 19px;
            }
        }
    }
}